annotated-doc==0.0.4
anyio==4.13.0
asttokens==3.0.1
attrs==26.1.0
blosc==1.11.4
blosc2==4.1.2
boto3==1.42.87
botocore==1.42.87
brotli==1.2.0
cachetools==7.0.5
caveclient==8.0.1
certifi==2026.2.25
cffi==2.0.0
chardet==7.4.1
charset-normalizer==3.4.7
click==8.3.2
cloud-files==6.3.0
cloud_volume==12.12.1
colorlog==6.10.1
compressed_segmentation==2.3.3
contourpy==1.3.3
crc32c==2.8
cryptography==46.0.7
cycler==0.12.1
cyclopts==4.10.2
decorator==5.2.1
deflate==0.8.1
dill==0.4.1
docstring_parser==0.17.0
docutils==0.22.4
DracoPy==1.7.0
embreex==2.17.7.post7
executing==2.2.1
fast_simplification==0.1.13
fasteners==0.20
fastremap==1.18.0
fonttools==4.62.1
gevent==26.4.0
google-api-core==2.30.3
google-auth==2.49.2
google-cloud-core==2.5.1
google-cloud-storage==3.10.1
google-crc32c==1.8.0
google-resumable-media==2.8.2
googleapis-common-protos==1.74.0
gpytoolbox==0.3.7
greenlet==3.4.0
h11==0.16.0
h5py==3.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
ImageIO==2.37.3
inflection==0.5.1
iniconfig==2.3.0
intervaltree==3.2.1
ipython==9.12.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
jmespath==1.1.0
joblib==1.5.3
json5==0.14.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kiwisolver==1.5.0
lazy-loader==0.5
lxml==6.0.3
manifold3d==3.4.1
mapbox_earcut==2.0.0
Markdown==3.10.2
markdown-it-py==4.0.0
matplotlib==3.10.8
matplotlib-inline==0.2.1
mdurl==0.1.2
meshio==5.3.5
meshmash==0.1.0
meshparty==2.0.3
microviewer==1.20.0
msgpack==1.1.2
multiprocess==0.70.19
multiwrapper==0.1.1
ndindex==1.10.1
networkx==3.6.1
numexpr==2.14.1
numpy==2.2.6
orjson==3.11.8
osteoid==0.6.0
packaging==26.0
pandas==2.3.3
parso==0.8.6
pathos==0.3.5
pexpect==4.9.0
pillow==12.2.0
platformdirs==4.9.6
pluggy==1.6.0
point-cloud-utils==0.34.0
pooch==1.9.0
posix_ipc==1.3.2
pox==0.3.7
ppft==1.7.8
prompt_toolkit==3.0.52
proto-plus==1.27.2
protobuf==7.34.1
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyarrow==23.0.1
pyasn1==0.6.3
pyasn1_modules==0.4.2
pybind11==3.0.3
pycollada==0.9.3
pycparser==3.0
Pygments==2.20.0
pyparsing==3.3.2
pysimdjson==7.0.2
pytest==9.0.3
python-dateutil==2.9.0.post0
python-jsonschema-objects==0.5.7
pytz==2026.1.post1
pyvista==0.47.2
referencing==0.37.0
requests==2.33.1
rich==14.3.3
rich-rst==1.3.2
robust_laplacian==1.1.0
rpds-py==0.30.0
rsa==4.9.1
rtree==1.4.1
s3transfer==0.16.0
scikit-image==0.26.0
scikit-learn==1.8.0
scipy==1.15.0
scooby==0.11.0
scs==3.2.11
shapely==2.1.2
shellingham==1.5.4
simplejpeg==1.9.0
six==1.17.0
sortedcontainers==2.4.0
stack-data==0.6.3
svg.path==7.0
tables==3.11.1
tenacity==9.1.4
threadpoolctl==3.6.0
tifffile==2026.3.3
tqdm==4.67.3
tqdm_joblib==0.0.5
traitlets==5.14.3
trimesh==4.11.5
typer==0.24.1
typing_extensions==4.15.0
tzdata==2026.1
urllib3==2.6.3
vhacdx==0.0.10
vtk==9.6.0
wcwidth==0.6.0
xxhash==3.6.0
zope.event==6.1
zope.interface==8.3
zstandard==0.25.0
